![basic process](03-basic_thesaurus_process_plus_tools.png)

## Manufacturer Matching with API
<br />
<br />

![apis](02-thesaurus_api_detail.png)

In [1]:
import requests
import assettapg as assetta
import pandas as pd
import psycopg2
import time

In [2]:
try:
    conn = psycopg2.connect("dbname='d93h9svhqrfcqd' user='ufadlttqc765vu' host='ec2-34-230-148-106.compute-1.amazonaws.com' port='5432' password='p2455364faa108090500ee1686b690bf1765dd797a68f4cd9838cc6da274abc4d'")
    cur = conn.cursor()
except:
    print("Unable to connect to the database")

In [3]:
df = assetta.active_listings(cur, 213)

30

In [4]:
def get_name(row):
    try:
        YOUR_API_KEY = '0103'
        url = 'http://scottcarlson.pythonanywhere.com/matcher/' + YOUR_API_KEY + '|' + row['make']
        response = requests.get(url).text.strip().replace('"','')
        time.sleep(0.5)
        return response
    except:
        return 'ERROR'

In [5]:
def equality(row):
    if row['make'] == row['recon']:
        return True
    else:
        return False

In [6]:
df['recon'] = df.apply(get_name, axis=1)
df['match'] = df.apply(equality, axis=1)

In [7]:
df[['id', 'make', 'recon', 'match']].head()

     id        make       recon  match
0  1401     THERMCO     THERMCO   True
1  1356  STRASBAUGH  STRASBAUGH   True
2  1803       MIRAE       MIRAE   True
3  1395      MATRIX      MATRIX   True
4  1396      MATRIX      MATRIX   True